.comment-textarea {
    width: 100%;
    max-width: 100%;
    height: 80px;
    max-height: 80px;
    border-radius: 5px;
    border: 2px solid #448FAE;
}

.MuiCardHeader-title{
    font-weight: 700 !important;
    font-size: 18px !important;
}

.comment-card {
    margin-bottom: 20px !important;
    border: 2px solid #448FAE;
}

.comment-text {
    padding: 0 20px !important;
}

.comments-section {
    padding: 0 80px;
}

.comment-button {
    text-align: right;
    margin-top: 5px !important;
}

.comment-button button {
    background-color: #448FAE;
    font-weight: 700;
}

@media (max-width: 400px) {
    .comment-button {
        text-align: center;
    }

    .comments-section {
        padding: 0 10px;
    }
}